<div class="bar bar-header bar-dark">
    <!-- <button class="button icon ion&#45;navicon"></button> -->
    <h1 class="title">Bookie</h1>
    <a class="button icon ion-plus" href="" ng-click="add()"></a>
</div>

<!-- <content padding="true"> -->
<div class="content padding has-header">
    <br> <br> <br> <!-- todo: fix ionic padding -->
    <div class="list">
      <a ng-repeat="bookmark in bookmarks" ng-click="go(bookmark.hash_id)" class="item" href="#">
        <h2 ng-bind="bookmark.description"></h2>
        <p>
            <span class="user" ng-bind="bookmark.username"></span>
            &mdash;
            <span class="hostname" ng-bind="bookmark.hostname"></span>
        </p>
      </a>
    </div>
</div>
