.topcoat-list {
  border-top: 1px solid #9daca9;
  border-bottom: 1px solid #fff;
  background-color: #e5e9e8;
}

.topcoat-list__header {
  padding: 4px 20px;
  font-size: 0.9em;
  font-weight: 400;
  background-color: #d2d6d6;
  color: #454545;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.23);
}

.topcoat-list__container {
  border-top: 1px solid #9daca9;
  color: #454545;
}

.topcoat-list__item {
  padding: 1.25rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #9daca9;

  font-weight: 200;
}

.topcoat-list__item:first-child {
  border-top: 1px solid #d6dcdb;
}

.meta {
    color: #777;
    font-size: 0.8em;
    padding: 5px 0 0;
}

.topcoat-button,
.topcoat-button--quiet,
.topcoat-button--large,
.topcoat-button--large--quiet,
.topcoat-button--cta,
.topcoat-button--large--cta {
  margin-top: 15px;
  padding: 0.6em 0.8em;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 1px;
  color: #454545;
  text-shadow: 0 1px #fff;
  vertical-align: top;
  background-color: #e5e9e8;
  box-shadow: inset 0 1px #fff;
  border: 1px solid #9daca9;
  border-radius: 6px;
}

.topcoat-button:hover,
.topcoat-button--quiet:hover,
.topcoat-button--large:hover,
.topcoat-button--large--quiet:hover {
  background-color: #eff1f1;
}

.topcoat-button:focus,
.topcoat-button--quiet:focus,
.topcoat-button--quiet:hover:focus,
.topcoat-button--large:focus,
.topcoat-button--large--quiet:focus,
.topcoat-button--large--quiet:hover:focus,
.topcoat-button--cta:focus,
.topcoat-button--large--cta:focus {
  border: 1px solid #0036ff;
  box-shadow: inset 0 1px rgba(255,255,255,0.36), 0 0 0 2px #6fb5f1;
  outline: 0;
}

.topcoat-button:active,
.topcoat-button--large:active {
  border: 1px solid #9daca9;
  background-color: #d2d6d6;
  box-shadow: inset 0 1px rgba(0,0,0,0.1);
}

.right.quarter {
  font-size: 36px;
  font-weight: bold;
}
